<div class="mt-4">
    <h3>ĐĂNG KHÓA HỌC</h3>
    <form method="post" action="/courses/store">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name='name' aria-describedby="emailHelp" placeholder="Tên khóa học">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name='description' aria-describedby="emailHelp" placeholder="Mô tả">
        </div>
        <div class="form-group">
            <label for="level">Trình độ</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name='level' aria-describedby="emailHelp" placeholder="Trình độ">
        </div>
        <div class="form-group">
            <label for="videoID">videoID</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name='videoID' aria-describedby="emailHelp" placeholder="videoID">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>